/***** BASE STYLES *****/

body {
	font-family: 'Montserrat', sans-serif;
}

#header{
    height: 110px;
}

#top-section{
    height: 470px;
    margin-bottom: -25px;
}

#bottom-section{
    height: 210px;
}

#footer{
    height: 75px;
}

/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
	width: 400px;
	float: left;
}

/***** HEADER *****/

header span{
    color:#77a466;
}

header h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

nav {
    float: right; 
    padding-top: 20px;
}

nav ul li{
    color:#77a466;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

/***** TOP SECTION *****/

#top-section h2{
    color:#77a466;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold; 
    text-transform: uppercase;
}

#top-section p{
    font-size: 16px;
}

/***** BOTTOM SECTION *****/

#menu, #reviews, #contact-info{
    width: 33%; 
    height: auto; 
    float: left; 
    border-top: 1px solid #eee;
}

#menu, #reviews{
    border-right: 1px solid #eee;
}

#menu{
    padding: 10px 0px;
}


#menu h3{
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
}

#menu p{
    color: #77a466;
    font-size: 16px;
}

#reviews h3{
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
}

#reviews p{
    font-size: 16px;
    text-align: left;
}

#contact-info h3{
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
    padding-left:38px;
}

#contact-info ul li{
    font-size: 16px;
    font-weight: normal;
    list-style-type:none;
    text-align: left;
}

/***** FOOTER *****/

footer {
    width: 100%; 
    height: 50px; 
    border-top: 3px solid #eee; 
    margin: 0 auto; 
    clear: both; 
    text-align: center;
}

footer span {
    font-family: 'Pinyon Script', cursive;
    text-transform: lowercase; 
    color: #77a466; 
    font-size: 14px;